nz-page-header {
  border: 1px solid rgb(235, 237, 240);
  margin-bottom: 22px;
}

.btnrow{
  padding: 0px 24px;

  button{
    margin-right: 24px;
  }
}

[operationTd] {
  a {
    margin-right: 12px;
  }
}

.delete{
  color: red;
}
